{% extends 'main.html' %}
{% block title %}
<title>Blog post</title>
{% endblock title %}
{% block body %}
<h1>Blog page</h1>
<form method='POST' action='/blogpost'>
<div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" name='title'>
  </div><br>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name='content'></textarea >
  </div><br>
  <input type='submit' value='POST' class= 'btn btn-primary'> 
<!-- {{current_user.username}} -->
</form> 
{% endblock body %}
